<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Badge::badges"
             title="Product Badges"
             module="Badge"
             sortOrder="10"
             resource="Badge::index"
             parent="Magento_CatalogRule::promo"
             action="badgelisting/index/index"/>
    </menu>
</config>